.container {
    border: 1px solid green; 
    border-radius: 5%; 
    width: 35%; 
    height: 500px; 
    margin: auto; 
    background-color: #9C2B39; 
}

// .number-button {

// }

// .operator-button {

// }

// .special-button {

// }
